<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Películas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="flash-messages">
      {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<a href="{{ url_for('peliculas.new_movie_page') }}" style="display: inline-block; padding: 8px 16px; font-size: 14px; text-align: center; text-decoration: none; cursor: pointer; border-radius: 4px; background-color: #2196f3; color: white; margin-bottom: 15px;">Agregar nueva película</a>

<div class="movie-container">
    {% for pelicula in peliculas %}
        <div class="movie-card">
            <h5>{{pelicula.titulo}}</h5>
            <p>{{pelicula.director}}</p>
            <p>{{pelicula.genero}}</p>
            <p>{{pelicula.lanzamiento}}</p>
            <p>{{pelicula.duracion}}</p>
            <p>{{pelicula.sinopsis}}</p>
            <div>
                <a href="{{url_for('peliculas.update_movie', id=pelicula.id)}}" style="display: inline-block; padding: 8px 16px; 
                margin: 5px; font-size: 14px; text-align: center; text-decoration: none; cursor: pointer; border-radius: 4px; background-color: #4caf50; color: white;">update</a>
                <a href="{{url_for('peliculas.delete_movie', id=pelicula.id)}}" style="display: inline-block; padding: 8px 16px;
                margin: 5px; font-size: 14px; text-align: center; text-decoration: none; cursor: pointer; border-radius: 4px; background-color: #f44336; color: white;">delete</a>
            </div>
        </div>
        </div>
    {% endfor %}
</div>

<script>
    // Espera a que el DOM esté completamente cargado
    document.addEventListener("DOMContentLoaded", function() {
      // Obtén el contenedor de mensajes
      var flashMessages = document.getElementById('flash-messages');
  
      // Si existe el contenedor de mensajes
      if (flashMessages) {
        // Oculta los mensajes después de 5 segundos
        setTimeout(function() {
          flashMessages.style.display = 'none';
        }, 5000);  // 5000 milisegundos (5 segundos)
      }
    });
  </script>

</body>
</html>
