<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Pelicula</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Contenido de new.html o update.html -->
    <div class="form-container">
        <!-- Formulario de nueva película -->
        <form action="/add" method="post" enctype="multipart/form-data">
            <input type="text" name="titulo" class="form-input" placeholder="introduce el titulo" required>
            <input type="text" name="director" class="form-input" placeholder="introduce el director" required>
            <input type="text" name="genero" class="form-input" placeholder="introduce el genero" required>
            <input type="text" name="lanzamiento" class="form-input" placeholder="año de lanzamiento" required>
            <input type="text" name="duracion" class="form-input" placeholder="duracion en minutos" required>
            <textarea name="sinopsis" class="form-textarea" placeholder="trama de la pelicula" required></textarea>
            <button class="form-button">save</button>
        </form>
    </div>

</body>
</html>
